{
    "AWSTemplateFormatVersion": "2010-09-09",

    "Description": "A GlusterFS Proof of Concept.",

    "Parameters": {
        "NamePrefix": {
            "Type": "String",
            "Description": "The name prefix of the server."
        },
        "InternalKeyName": {
            "Type": "String",
            "Default": "internal",
            "Description": "SSH key name used to connect with internal servers via the ec2-user account.",
            "MinLength": "1",
            "MaxLength": "255",
            "AllowedPattern": "[\\x20-\\x7E]*",
            "ConstraintDescription": "can contain only ASCII characters."
        },
        "VPCId": {
            "Type": "String",
            "Description": "The id of the VPC in which the resources will be created."
        },
        "24CIDRBlockA": {
            "Type": "String",
            "Default": "10.80.53",
            "Description": "The first 24 bits of the first CIDR block for the project.",
            "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})",
            "ConstraintDescription": "must be the first three digits of a valid IP CIDR of the form x.x.x"
        },
        "24CIDRBlockB": {
            "Type": "String",
            "Default": "10.80.54",
            "Description": "The first 24 bits of the second CIDR block for the project.",
            "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})",
            "ConstraintDescription": "must be the first three digits of a valid IP CIDR of the form x.x.x"
        },
        "PrivateRouteTableId": {
            "Type": "String",
            "Description": "The id of the private route table associated with the project's subnets."
        },
        "NetworkACLId": {
            "Type": "String",
            "Description": "The id of the network access control list used to protect instances in this project."
        },
        "Domain": {
            "Type": "String",
            "Default": "dschultz.compute.local",
            "Description": "The domain name of the VPC."
        },
        "AWSMusingsS3URL": {
            "Type": "String",
            "Default": "https://s3-us-west-2.amazonaws.com/aws-musings",
            "Description": "S3 path to aws-musings."
        },
        "ProjectName": {
            "Type": "String",
            "Default": "GlusterFS Proof of Concept",
            "Description": "The name of the project."
        },
        "ProjectPOC": {
            "Type": "String",
            "Default": "Dwayne Schultz",
            "Description": "The point of contact for the project."
        },
        "ProjectWBSCode": {
            "Type": "String",
            "Default": "DISTDEL.EXP.14",
            "Description": "The work breakdown structure code for the project."
        },
        "ProjectPONumber": {
            "Type": "String",
            "Default": "TBD",
            "Description": "The purchase order number for the project."
        },
        "ExpirationDate": {
            "Type": "String",
            "Default": "20141120",
            "Description": "The expiration date for the project."
        }
    },

    "Resources": {
        "PrivateSubnetA": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": { "Fn::Join": [ ".", [ { "Ref": "24CIDRBlockA" }, "0/24" ] ] },
                "AvailabilityZone": "us-west-2a",
                "VpcId": { "Ref": "VPCId" },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "us-west-2a-private-subnet" ] ] }
                    },
                    {
                        "Key": "AWSAccountID",
                        "Value": { "Ref": "AWS::AccountId" }
                    },
                    {
                        "Key": "ProjectName",
                        "Value": { "Ref": "ProjectName" }
                    },
                    {
                        "Key": "ProjectPOC",
                        "Value": { "Ref": "ProjectPOC" }
                    },
                    {
                        "Key": "ProjectWBSCode",
                        "Value": { "Ref": "ProjectWBSCode" }
                    },
                    {
                        "Key": "ProjectPONumber",
                        "Value": { "Ref": "ProjectPONumber" }
                    },
                    {
                        "Key": "ExpirationDate",
                        "Value": { "Ref": "ExpirationDate" }
                    }
                ]
            }
        },
        "PrivateSubnetB": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "CidrBlock": { "Fn::Join": [ ".", [ { "Ref": "24CIDRBlockB" }, "0/24" ] ] },
                "AvailabilityZone": "us-west-2b",
                "VpcId": { "Ref": "VPCId" },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "us-west-2b-private-subnet" ] ] }
                    },
                    {
                        "Key": "AWSAccountID",
                        "Value": { "Ref": "AWS::AccountId" }
                    },
                    {
                        "Key": "ProjectName",
                        "Value": { "Ref": "ProjectName" }
                    },
                    {
                        "Key": "ProjectPOC",
                        "Value": { "Ref": "ProjectPOC" }
                    },
                    {
                        "Key": "ProjectWBSCode",
                        "Value": { "Ref": "ProjectWBSCode" }
                    },
                    {
                        "Key": "ProjectPONumber",
                        "Value": { "Ref": "ProjectPONumber" }
                    },
                    {
                        "Key": "ExpirationDate",
                        "Value": { "Ref": "ExpirationDate" }
                    }
                ]
            }
        },

        "PrivateSubnetARouteTableAssociation": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": { "Ref": "PrivateRouteTableId" },
                "SubnetId": { "Ref": "PrivateSubnetA" }
            }
        },
        "PrivateSubnetBRouteTableAssociation": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "RouteTableId": { "Ref": "PrivateRouteTableId" },
                "SubnetId": { "Ref": "PrivateSubnetB" }
            }
        },

        "PrivateSubnetANetworkACLAssociation": {
            "Type": "AWS::EC2::SubnetNetworkAclAssociation",
            "Properties": {
                "NetworkAclId": { "Ref": "NetworkACLId" },
                "SubnetId": { "Ref": "PrivateSubnetA" }
            }
        },
        "PrivateSubnetBNetworkACLAssociation": {
            "Type": "AWS::EC2::SubnetNetworkAclAssociation",
            "Properties": {
                "NetworkAclId": { "Ref": "NetworkACLId" },
                "SubnetId": { "Ref": "PrivateSubnetB" }
            }
        },

        "SecurityGroup": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "GroupDescription": "Server security group",
                "VpcId": { "Ref": "VPCId" },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": { "Fn::Join": [ "-", [ { "Ref": "AWS::StackName" }, "server-sg" ] ] }
                    },
                    {
                        "Key": "AWSAccountID",
                        "Value": { "Ref": "AWS::AccountId" }
                    },
                    {
                        "Key": "ProjectName",
                        "Value": { "Ref": "ProjectName" }
                    },
                    {
                        "Key": "ProjectPOC",
                        "Value": { "Ref": "ProjectPOC" }
                    },
                    {
                        "Key": "ProjectWBSCode",
                        "Value": { "Ref": "ProjectWBSCode" }
                    },
                    {
                        "Key": "ProjectPONumber",
                        "Value": { "Ref": "ProjectPONumber" }
                    },
                    {
                        "Key": "ExpirationDate",
                        "Value": { "Ref": "ExpirationDate" }
                    }
                ],
                "SecurityGroupIngress": [
                    {
                        "IpProtocol": "-1",
                        "CidrIp": "10.0.0.0/8"
                    }
                ],
                "SecurityGroupEgress": [
                    {
                        "IpProtocol": "-1",
                        "CidrIp": "0.0.0.0/0"
                    }
                ]
            }
        },

        "Server1InstanceStack": {
            "Type": "AWS::CloudFormation::Stack",
            "Properties": {
                "TemplateURL": { "Fn::Join": [ "/", [ { "Ref": "AWSMusingsS3URL" },
                    "gluster-poc-us-west-2/server1.template" ] ] },
                "Parameters": {
                    "NamePrefix": { "Ref": "NamePrefix" },
                    "Domain": { "Ref": "Domain" },
                    "KeyName": { "Ref": "InternalKeyName" },
                    "AWSMusingsS3URL": { "Ref": "AWSMusingsS3URL" },
                    "AvailabilityZone": "us-west-2a",
                    "SubnetId": { "Ref": "PrivateSubnetA" },
                    "SecurityGroupId": { "Ref": "SecurityGroup" },
                    "ProjectName": { "Ref": "ProjectName" },
                    "ProjectPOC": { "Ref": "ProjectPOC" },
                    "ProjectWBSCode": { "Ref": "ProjectWBSCode" },
                    "ProjectPONumber": { "Ref": "ProjectPONumber" },
                    "ExpirationDate": { "Ref": "ExpirationDate" }
                }
            }
        },
        "Server2InstanceStack": {
            "Type": "AWS::CloudFormation::Stack",
            "Properties": {
                "TemplateURL": { "Fn::Join": [ "/", [ { "Ref": "AWSMusingsS3URL" },
                    "gluster-poc-us-west-2/server2.template" ] ] },
                "Parameters": {
                    "NamePrefix": { "Ref": "NamePrefix" },
                    "Domain": { "Ref": "Domain" },
                    "KeyName": { "Ref": "InternalKeyName" },
                    "AWSMusingsS3URL": { "Ref": "AWSMusingsS3URL" },
                    "AvailabilityZone": "us-west-2b",
                    "SubnetId": { "Ref": "PrivateSubnetB" },
                    "SecurityGroupId": { "Ref": "SecurityGroup" },
                    "ProjectName": { "Ref": "ProjectName" },
                    "ProjectPOC": { "Ref": "ProjectPOC" },
                    "ProjectWBSCode": { "Ref": "ProjectWBSCode" },
                    "ProjectPONumber": { "Ref": "ProjectPONumber" },
                    "ExpirationDate": { "Ref": "ExpirationDate" }
                }
            }
        }

    }

}
