{
    "AWSTemplateFormatVersion": "2010-09-09",

    "Description": "A GlusterFS peer server.",

    "Parameters": {
        "NamePrefix": {
            "Type": "String",
            "Description": "The name prefix of the server."
        },
        "Domain": {
            "Type": "String",
            "Description": "The domain containing the server. The name plus the domain, separated by a dot, make up the server's fully qualified domain name."
        },
        "KeyName": {
            "Type": "String",
            "Default": "internal",
            "Description": "SSH key name used to connect to the server via the ec2-user account.",
            "MinLength": "1",
            "MaxLength": "255",
            "AllowedPattern": "[\\x20-\\x7E]*",
            "ConstraintDescription": "can contain only ASCII characters."
        },
        "AWSMusingsS3URL": {
            "Type": "String",
            "Default": "https://s3-us-west-2.amazonaws.com/aws-musings",
            "Description": "S3 path to aws-musings."
        },
        "AvailabilityZone":{
            "Type": "String",
            "Description": "The availability zone where the server will be created."
        },
        "SubnetId": {
            "Type": "String",
            "Description": "The id of the subnet where the server will be added."
        },
        "SecurityGroupId": {
            "Type": "String",
            "Description": "The id of the security group protecting the server."
        },
        "ProjectName": {
            "Type": "String",
            "Default": "Distributed Delivery",
            "Description": "The name of the project."
        },
        "ProjectPOC": {
            "Type": "String",
            "Default": "Dwayne Schultz",
            "Description": "The point of contact for the project."
        },
        "ProjectWBSCode": {
            "Type": "String",
            "Default": "DISTDEL.EXP.14",
            "Description": "The work breakdown structure code for the project."
        },
        "ProjectPONumber": {
            "Type": "String",
            "Default": "TBD",
            "Description": "The purchase order number for the project."
        },
        "ExpirationDate": {
            "Type": "String",
            "Default": "20141120",
            "Description": "The expiration date for the project."
        }
    },

    "Resources": {
        "Instance1": {
            "Type": "AWS::EC2::Instance",
            "Metadata": {
                "AWS::CloudFormation::Init": {
                    "config": {
                        "files": {
                            "/etc/cfn/cfn-hup.conf": {
                                "source": { "Fn::Join": [ "/", [ { "Ref": "AWSMusingsS3URL" },
                                    "common/cfn-hup.conf" ] ] },
                                "context": {
                                    "STACK_ID": { "Ref": "AWS::StackId" },
                                    "REGION": { "Ref": "AWS::Region" }
                                },
                                "mode": "000400",
                                "owner": "root",
                                "group": "root"
                            },
                            "/etc/cfn/hooks.d/cfn-auto-reloader.conf": {
                                "source": { "Fn::Join": [ "/", [ { "Ref": "AWSMusingsS3URL" },
                                    "common/cfn-auto-reloader.conf" ] ] },
                                "context": {
                                    "STACK_ID": { "Ref": "AWS::StackId" },
                                    "REGION": { "Ref": "AWS::Region" },
                                    "INSTANCE_NAME": "Instance1"
                                }
                            },

                            "/etc/dhcp/dhclient.conf": {
                                "source": { "Fn::Join": [ "/", [ { "Ref": "AWSMusingsS3URL" },
                                    "common/dhclient.conf" ] ] },
                                "context": {
                                    "FQDN": { "Fn::Join": [ "", [ { "Ref": "NamePrefix" }, "1.",
                                        { "Ref": "Domain" } ] ] }
                                }
                            },

                            "/home/ec2-user/.bashrc": {
                                "source": { "Fn::Join": [ "/", [ { "Ref": "AWSMusingsS3URL" }, "common/bashrc.sh" ] ] },
                                "mode": "000644",
                                "owner": "ec2-user",
                                "group": "ec2-user"
                            },
                            "/root/.bashrc": {
                                "source": { "Fn::Join": [ "/", [ { "Ref": "AWSMusingsS3URL" }, "common/bashrc.sh" ] ] },
                                "mode": "000644",
                                "owner": "root",
                                "group": "root"
                            }
                        }
                    }
                }
            },
            "Properties": {
                "DisableApiTermination": "false",
                "ImageId": "ami-d13845e1",
                "InstanceType": "t2.micro",
                "KeyName": { "Ref": "KeyName" },
                "Monitoring": "false",
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": { "Fn::Join": [ "", [ { "Ref": "NamePrefix" }, "1" ] ] }
                    },
                    {
                        "Key": "AWSAccountID",
                        "Value": { "Ref": "AWS::AccountId" }
                    },
                    {
                        "Key": "ProjectName",
                        "Value": { "Ref": "ProjectName" }
                    },
                    {
                        "Key": "ProjectPOC",
                        "Value": { "Ref": "ProjectPOC" }
                    },
                    {
                        "Key": "ProjectWBSCode",
                        "Value": { "Ref": "ProjectWBSCode" }
                    },
                    {
                        "Key": "ProjectPONumber",
                        "Value": { "Ref": "ProjectPONumber" }
                    },
                    {
                        "Key": "ExpirationDate",
                        "Value": { "Ref": "ExpirationDate" }
                    }
                ],
                "Volumes": [
                    { "VolumeId": { "Ref": "Volume" }, "Device": "/dev/sdb" }
                ],
                "NetworkInterfaces": [
                    {
                        "AssociatePublicIpAddress": "false",
                        "DeleteOnTermination": "true",
                        "Description": "Primary network interface",
                        "DeviceIndex": 0,
                        "SubnetId": { "Ref": "SubnetId" },
                        "GroupSet": [ { "Ref": "SecurityGroupId" } ]
                    }
                ],
                "UserData": {
                    "Fn::Base64": {
                        "Fn::Join": [ "", [
                            "#!/bin/bash\n",

                            "# Helper function\n",
                            "function error_exit\n",
                            "{\n",
                            "  /opt/aws/bin/cfn-signal -e 1 -r \"$1\" '", { "Ref": "Instance1WaitHandle" }, "'\n",
                            "  exit 1\n",
                            "}\n",

                            "yum update -y || error_exit 'yum update failed'\n",

                            "sed -i -e \"s/localhost/", { "Ref": "NamePrefix" }, "1/g\" /etc/sysconfig/network\n",
                            "sed -i -e \"s/localhost localhost.localdomain/", { "Ref": "NamePrefix"  }, "1 ",
                                { "Ref": "NamePrefix" },
                                "1.localdomain localhost localhost.localdomain/g\" /etc/hosts\n",

                            "# Initialize CloudFormation\n",
                            "/opt/aws/bin/cfn-init -s ", { "Ref": "AWS::StackId" }, " -r Instance1 ",
                                "--region ", { "Ref": "AWS::Region" }, " || error_exit 'Failed to run cfn-init'\n",

                            "# Start up the cfn-hup daemon to listen for changes to the metadata\n",
                            "/opt/aws/bin/cfn-hup || error_exit 'Failed to start cfn-hup'\n",

                            "# Gluster configuration common to both servers\n",
                            "echo -e \"n\n\n\n\n\nw\" | fdisk /dev/xvdb || error_exit 'Failed fdisk'\n",
                            "mkfs.ext4 /dev/xvdb1 || error_exit 'Failed mkfs'\n",
                            "mkdir /mnt/brick1 || error_exit 'Failed mkdir'\n",
                            "echo \"/dev/xvdb1 /mnt/brick1 ext4 defaults 1 2\" >> /etc/fstab\n",
                            "wget -P /etc/yum.repos.d ",
                                "http://download.gluster.org/pub/gluster/glusterfs/LATEST/EPEL.repo/",
                                    "glusterfs-epel.repo || error_exit 'Failed gluster repo wget'\n",
                            "sed -i 's/$releasever/6/g' /etc/yum.repos.d/glusterfs-epel.repo\n",
                            "yum install -y glusterfs{-fuse,-server}\n",
                            "chkconfig glusterd on\n",

                            "# Gluster configuration for server1 only\n",
                            "gluster peer probe ", { "Ref": "NamePrefix" },
                                "2 || error_exit 'gluster peer probe failed'\n",
                            "gluster volume create gluster replica 2 transport tcp ",
                                { "Ref": "NamePrefix" }, "1:/mnt/brick1/brick1 ",
                                { "Ref": "NamePrefix" }, "2:/mnt/brick1/brick1 ",
                                    "|| error_exit 'gluster volume create failed'\n",

                            "# All done so signal success\n",
                            "/opt/aws/bin/cfn-signal -e 0 -r \"Instance1 setup complete\" '",
                                { "Ref": "Instance1WaitHandle" }, "'\n",
                            "reboot\n"
                        ] ]
                    }
                }
            }
        },

        "Instance1WaitHandle": {
            "Type": "AWS::CloudFormation::WaitConditionHandle"
        },

        "Instance1WaitCondition": {
            "Type": "AWS::CloudFormation::WaitCondition",
            "DependsOn": "Instance1",
            "Properties": {
                "Handle": { "Ref": "Instance1WaitHandle" },
                "Timeout": "600"
            }
        },

        "Volume": {
            "Type": "AWS::EC2::Volume",
            "Properties": {
                "AvailabilityZone": { "Ref": "AvailabilityZone" },
                "Size": "10",
                "VolumeType": "gp2",
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": { "Fn::Join": [ "", [ { "Ref": "NamePrefix" }, "1-volume" ] ] }
                    },
                    {
                        "Key": "AWSAccountID",
                        "Value": { "Ref": "AWS::AccountId" }
                    },
                    {
                        "Key": "ProjectName",
                        "Value": { "Ref": "ProjectName" }
                    },
                    {
                        "Key": "ProjectPOC",
                        "Value": { "Ref": "ProjectPOC" }
                    },
                    {
                        "Key": "ProjectWBSCode",
                        "Value": { "Ref": "ProjectWBSCode" }
                    },
                    {
                        "Key": "ProjectPONumber",
                        "Value": { "Ref": "ProjectPONumber" }
                    },
                    {
                        "Key": "ExpirationDate",
                        "Value": { "Ref": "ExpirationDate" }
                    }
                ]
            }
        }

    }

}
